.navbar__logo, .navbar__menu, .navbar__menu--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background: #f8edeb;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
}

.navbar__logo {
  color: #222121;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  margin-left: 24px;
}

.navbar__bars {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .navbar__bars {
    color: #222121;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
    font-weight: 700;
  }
}

.navbar__menu {
  list-style: none;
  text-align: center;
  margin-right: 24px;
}

@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}

.navbar__menu--links {
  color: #222121;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
}

.navbar__menu--links:hover {
  color: #ff928b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__menu #button {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #ff928b;
  margin-left: 16px;
  color: #f7f7f7;
}

.navbar__menu #button:hover {
  background: #fec3a6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Times New Roman', Times, sans-serif;
}

.hero {
  background-color: #f8edeb;
}

.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 768px) {
  .hero__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 100%;
  }
}

.hero__container--left {
  width: 100%;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .hero__container--left {
    padding: 5rem 0;
  }
}

@media screen and (max-width: 280px) {
  .hero__container--left {
    line-height: 1.5;
  }
}

.hero__container--left h1 {
  font-size: 4rem;
  color: #ff928b;
}

@media screen and (max-width: 280px) {
  .hero__container--left h1 {
    font-size: 0.3rem;
  }
}

.hero__container--left h3 {
  font-size: 1.7rem;
  color: #8a817c;
}

@media screen and (max-width: 280px) {
  .hero__container--left h3 {
    font-size: 0.3rem;
  }
}

.hero__container--left p {
  font-size: 1.5rem;
  color: #8a817c;
  margin-top: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 280px) {
  .hero__container--left p {
    font-size: 0.3rem;
  }
}

.hero__container--btn {
  font-size: 1rem;
  background-color: #ff928b;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #f7f7f7;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.hero__container--btn a {
  position: relative;
  z-index: 2;
  color: #f7f7f7;
  text-decoration: none;
}

.hero__container--btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fec3a6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
}

.hero__container--btn:hover:after {
  width: 100%;
}

.hero__container--right {
  text-align: center;
}

.hero__container--img {
  height: 100%;
  width: 100%;
}






.aboutme {
  background-color: #f8edeb;
}

.aboutme__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-right: 26px;
  padding-left: 26px;
}

@media screen and (max-width: 768px) {
  .aboutme__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 100%;
  }
}

.aboutme__container--left {
  width: 100%;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .aboutme__container--left {
    padding: 5rem 0;
  }
}

@media screen and (max-width: 280px) {
  .aboutme__container--left {
    line-height: 1.5;
  }
}

.aboutme__container--left h3 {
  font-size: 2rem;
  color: #ff928b;
}

@media screen and (max-width: 280px) {
  .aboutme__container--left h3 {
    font-size: 0.5rem;
  }
}

.aboutme__container--left p {
  font-size: 1.5rem;
  color: #8a817c;
  margin-top: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 280px) {
  .aboutme__container--left p {
    font-size: 0.3rem;
  }
}

.aboutme__container--right {
  text-align: center;
}

.me__container--img {
  height: 50%;
  width: 50%;
}

.fa-instagram {  
  background: #f8edeb;  
  color: #ff928b; 
  padding-top: 1rem;
  font-size: large;
}

.fa-linkedin {
  background: #f8edeb;
  color: #ff928b; 
  padding-top: 1rem;
  padding-left: 2rem;
  font-size: large;
}

.fa-envelope {
  color: #ff928b; 
  padding-top: 1rem;
  padding-left: 2rem;
  font-size: large;
}




.portfolio {
  background-color: #f8edeb;
  overflow: auto;
}

.portfolio__container {
  justify-items: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  .portfolio__container {
    height: 100%;
  }
}

.portfolio__1 {
  width: 100%;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .portfolio__1 {
    padding: 5rem 0;
  }
}

@media screen and (max-width: 280px) {
  .portfolio__1 {
    line-height: 1.5;
  }
}

.btn {
  border: none;
  background-color: #fec3a6;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
}

.portfolio__1 h2 {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  color: #ff928b;
}

@media screen and (max-width: 280px) {
  .portfolio__1 h2 {
    font-size: 0.5rem;
  }
}

.portfolio__maintext {
  font-size: 1.1rem;
  color: #8a817c;
  margin-top: 1rem;
  font-weight: 500;
  padding-left: 20%;
  padding-right: 20%;
}

@media screen and (max-width: 280px) {
  .portfolio__maintext {
    font-size: 0.3rem;
  }
}

.portfolio1__container--img {
  height: 40%;
  width: 40%;
  padding-bottom: 1rem;
}

.portfolio2__container--img {
  height: 65%;
  width: 65%;
  padding-bottom: 1rem;
}

a.link {
  color: #ff928b;
}


/*# sourceMappingURL=styles.css.map */